.registerUser {
  display: flex;
  height: 100vh;
  background-color: grey;
  margin: 10px;
  border-radius: 20px;

  img {
    margin-right: auto;
    max-width: 50%;
    border-radius: 20px 0 0 20px;
  }

  h3 {
    margin: 3rem;
    text-align: center;
  }
}

.userLogIn {
  display: flex;
  height: 100vh;
  background-color: grey;
  margin: 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;

  img {
    margin-right: auto;
    max-width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  h3 {
    margin: 3rem;
    text-align: center;
  }
}

.productList {
  height: 100vh;
  background-color: grey;

  .cards {
    display: flex;
    margin-top: 18rem;
    padding-bottom: 18rem;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.adminPage {
  display: flexbox;
  height: 100vh;
  background-color: grey;

  .cardBody {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
}
