.registerUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: grey;
  margin: 10px;
  border-radius: 20px;
}

.registerUser img {
  margin-right: auto;
  max-width: 50%;
  border-radius: 20px 0 0 20px;
}

.registerUser h3 {
  margin: 3rem;
  text-align: center;
}

.userLogIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: grey;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userLogIn img {
  margin-right: auto;
  max-width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.userLogIn h3 {
  margin: 3rem;
  text-align: center;
}

.productList {
  height: 100vh;
  background-color: grey;
}

.productList .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18rem;
  padding-bottom: 18rem;
}

.productList .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminPage {
  display: flexbox;
  height: 100vh;
  background-color: grey;
}

.adminPage .cardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}
/*# sourceMappingURL=App.css.map */